/* ---------------------------------------
@@@@ modulos ---> login  
--------------------------------------- */
.login {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.login .formulario {
    display: block;
    max-width: 550px;
    margin: 0 auto;
}

.login .formulario .logo {
    display: block;
    width: 200px;
    margin: 0 auto 35px;
}

.login .form-group {
    margin: 18px 0;
}

.login .input-group-prepend {
    margin-right: -2px;
}

.login .form-control {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
    color: var(--color-gris);
    height: calc(2.5rem + .75rem + 2px);
    border-left: 0;
    border-top: 2px solid var(--color-gris-claro);
    border-bottom: 2px solid var(--color-gris-claro);
    border-right: 2px solid var(--color-gris-claro);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.login .input-group-text {
    background-color: var(--color-blanco);
    border-right: 0;
    border-top: 2px solid var(--color-gris-claro);
    border-bottom: 2px solid var(--color-gris-claro);
    border-left: 2px solid var(--color-gris-claro);
    border-right: 2px solid var(--color-gris-claro);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.login .btn {
    display: block;
    font-weight: bold;
    color: var(--color-blanco);
    text-align: center;
    background-color: var(--color-azul);
    border-color: var(--color-azul);
    padding: 1rem 2.75rem;
}

.login .input-group img {
    width: 1rem;
}

.login .form-control::-webkit-input-placeholder {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
    color: var(--color-gris);
    opacity: 1 !important;
    text-transform: capitalize;
}

.login .form-control:-moz-placeholder {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
    color: var(--color-gris);
    opacity: 1 !important;
    text-transform: capitalize;
}

.login .form-control::-moz-placeholder {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
    color: var(--color-gris);
    opacity: 1 !important;
    text-transform: capitalize;
}

.login .form-control:-ms-input-placeholder {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
    color: var(--color-gris);
    opacity: 1 !important;
    text-transform: capitalize;
}

.login .form-control::-ms-input-placeholder {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
    color: var(--color-gris);
    opacity: 1 !important;
    text-transform: capitalize;
}

.login .form-control::placeholder {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
    color: var(--color-gris);
    opacity: 1 !important;
    text-transform: capitalize;
}

/* ---------------------------------------
@@@@ modulos ---> cafeterias_lista 
--------------------------------------- */

.titulo-cafeteria {
    background-color: #FFD3B6;
    /* Color oscuro para el encabezado */
    color: black;
    padding: 20px;
    text-align: center;
}

.btn-custom {
    background-color: #FF6B6B;
    /* Color personalizado para los botones */
    color: white !important;
    border-radius: 5px;
}

.btn-custom:hover {
    background-color: #FF3B3B;
    /* Color de hover */
}

.star-rating {
    color: #ffc107;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img-top {
    height: 200px;
    /* Ajusta el tamaño de las imágenes */
    object-fit: cover;
}

.favorite-icon {
    color: red;
    font-size: 1.2rem;
}
/* - - - - - - -  - - - caja de servicios */

.modal_mapa {
    overflow: hidden;
}

.servicios .custom-carousel {
    display:flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
    overflow: hidden;
}

.servicios .custom-carousel-item {
    min-width: 200px;
    max-width: 280px;
    margin-right: 10px;
    flex-shrink: 0;
}

.servicios .custom-carousel-item img {
    width: 100%;
    border-radius: 10px;
}

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.servicios .prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.servicios .prev {
    left: 10px;
}

.servicios .next {
    right: 10px;
}

.titulo-oscuro {
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo oscuro semi-transparente */
    z-index: 1;
}

/* - - - - - - - - estilos para el filtro y estrallas */

.filtros_cafeterias .star-rating {
    direction: rtl;
    /* De derecha a izquierda para mejor UX */
    font-size: 1.5rem;
    unicode-bidi: bidi-override;
    /* Reversión de texto */
    display: flex;
}

.filtros_cafeterias .star-rating input {
    display: none;
    /* Ocultar los inputs */
}

.filtros_cafeterias .star-rating label {
    cursor: pointer;
    color: #ccc;
    /* Color de las estrellas no seleccionadas */
    font-size: inherit;
    /* Hereda el tamaño del contenedor */

}

.filtros_cafeterias .star-rating input:checked~label {
    color: #ffc107;
    /* Color de las estrellas seleccionadas */
}

.star-rating label:hover,
.star-rating label:hover~label {
    color: #ffc107;
    /* Cambiar el color al pasar el mouse sobre una estrella */
}


/* - - - - - - -  - - - casousel de imagenes */

/* Mantén una relación de aspecto fija para las imágenes del carrusel */
.carousel-imgs .carousel-item {
    height: 400px;
    /* Ajusta la altura según tus necesidades */
}

.carousel-imgs .carousel-item img {
    object-fit: cover;
    /* Cubre el contenedor sin distorsionar la imagen */
    height: 100%;
    /* Asegura que la imagen ocupe todo el contenedor */
    width: 100%;
}

/* Asegurar que las imágenes llenen el contenedor verticalmente */
.carousel-imgs .carousel-item img {
    width: auto;
    height: 100%;
    object-fit: cover;
    /* Asegura que la imagen cubra todo el contenedor sin perder proporción */
    display: block;
    margin: auto;
}

/* - - - - - - -  - - - caja de comentarios */

/* Contenedor de comentarios */
.comentarios .comentarios-container {
    width: 100%;
    margin: 0 auto;
}

/* Estilo para los comentarios en formato de lista */
.comentarios .lista-comentarios {
    list-style: none;
    padding: 0;
    margin: 0;
}

.comentarios .lista-comentarios li {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comentarios .lista-comentarios h3 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
}

.comentarios .lista-comentarios p {
    font-size: 16px;
    color: #666;
    margin-bottom: 0;
}

/* Estilo para los controles de paginación */
.comentarios .paginacion {
    text-align: center;
    margin-top: 20px;
}

.comentarios .paginacion button {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.comentarios .paginacion button:hover {
    background-color: #ddd;
}

.comentarios .paginacion button.active {
    background-color: #007bff;
    color: white;
    border: none;
}

/* ---------------------------------------
@@@@ modulos ---> cafeterias_lista 
--------------------------------------- */

/* - - - - - - - - - -modal de servicios */

/* Ocultar el checkbox estándar */
#modal_agregar_servicios .image-checkbox input[type="checkbox"] {
    display: none;
}

/* Estilo de la tarjeta */
#modal_agregar_servicios .image-checkbox .custom-carousel-item {
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.3s;
}

/* Efecto cuando el checkbox está seleccionado */
#modal_agregar_servicios .image-checkbox input[type="checkbox"]:checked+.custom-carousel-item {
    border: 2px solid #007bff;
    /* Cambia el borde para indicar que está seleccionado */
    opacity: 0.8;
    /* Añade un efecto de opacidad */
}

/* Efecto hover */
#modal_agregar_servicios .image-checkbox .custom-carousel-item:hover {
    border: 2px solid #007bff;
    /* Cambia el borde cuando se pasa el cursor */
}

#modal_agregar_servicios .tanamo {
    width: 150px !important;
    height: 150px !important;
}