# Copia este archivo como .env (NO se commitea)

# DB
DB_HOST=localhost
DB_PORT=3306
DB_NAME=occu_v2
DB_USER=root
DB_PASS=

# API
API_DEBUG=1
API_JWT_SECRET=change_me
API_CORS_ORIGINS=http://localhost:5173,http://localhost:5174

# Opcional (Google / mail)
GOOGLE_CLIENT_ID=
GOOGLE_API=
MAIL=

